<form action="/db/create" method="post">
    <input type="text" name="name" placeholder="Name" /><br>
    <input type="text" name="login" placeholder="E-Mail" /><br>
    <input type="password" name="password" placeholder="Password" /><br>
    <input type="submit" value="Envoyer" />
    </form>