<html>

<head>
    <title>WEATHER APP </title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="main">
        <%- include('header') -%>
        <div id="apps">
            <h1>Profile...</h1>
        </div>
        <div id="copyrights">
            Copyrights SUPINFO Morocco
        </div>
    </div>

</body>

</html>